{% extends 'base.html' %}
{% load static %}
{% block title %}About Us
{% endblock title %}
{% block aboutactive %} active
{% endblock aboutactive %}
{% block body %}
<h1>About Us</h1>
</section>
<!--------------about us content----------------->
<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h2>What Lancer Do?</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Eos iusto adipisci quibusdam vitae! Repudiandae ullam fugit
                temporibus nesciunt <br>optio laboriosam delectus voluptatem aperiam
                praesentium, voluptatum pariatur omnis, commodi expedita doloribus!</p>
            <h2>How Lancer Do?</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Eos iusto adipisci quibusdam vitae! Repudiandae ullam fugit
                temporibus nesciunt <br>optio laboriosam delectus voluptatem aperiam
                praesentium, voluptatum pariatur omnis, commodi expedita doloribus!</p>
            <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>
        <div class="about-col">
            <img src="{% static 'images/home8.jpg' %}">
        </div>
    </div>
</section>
{% endblock body %}