{% extends 'base.html' %}
{% load static %}
{% block title %}Work With Us
{% endblock title %}
{% block workwithusactive %} active
{% endblock workwithusactive %}
{% block body %}
<h1>Register On Lancer & Work As A Professional</h1>
</section>
<!----------blog page content---------->
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <img src="{% static 'images/home3.jpg' %}">
            <h2>Guidelines & Steps To Register As A Professional On Lancer</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Eos iusto adipisci quibusdam vitae! Repudiandae ullam fugit
                temporibus nesciunt optio laboriosam delectus voluptatem aperiam
                praesentium, voluptatum pariatur omnis, commodi expedita doloribus!
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Eos iusto adipisci quibusdam vitae! Repudiandae ullam fugit
                temporibus nesciunt optio laboriosam delectus voluptatem aperiam
                praesentium, voluptatum pariatur omnis, commodi expedita doloribus!
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Eos iusto adipisci quibusdam vitae! Repudiandae ullam fugit
                temporibus nesciunt optio laboriosam delectus voluptatem aperiam
                praesentium, voluptatum pariatur omnis, commodi expedita doloribus!
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Eos iusto adipisci quibusdam vitae! Repudiandae ullam fugit
                temporibus nesciunt optio laboriosam delectus voluptatem aperiam
                praesentium, voluptatum pariatur omnis, commodi expedita doloribus!
            </p>
            <div class="comment-box">
                <h3>Fill The Form And Procede For Your Further Inquiry</h3>
                <form class="comment-form" action="/workforusform" method="post"> {% csrf_token %}
                    <input for="name" name="name" type="text" placeholder="Enter Name">
                    <input for="phone" name="phone" type="text" placeholder="Enter Phone">
                    <input for="email" name="email" type="email" placeholder="Enter email">
                    Select Profession :
                    <select for="kindofwork" name="kindofwork">
                        <option>Civil Work</option>
                        <option>Electrician</option>
                        <option>Plumber</option>
                        <option>Carpenter</option>
                        <option>Painter</option>
                        <option>Iron Work</option>
                        <option>Glazing</option>
                        <option>Tile Work</option>
                    </select>
                    <input for="paddress" name="paddress" type="address" placeholder="Enter Your Permanent address">
                    <input for="pan" name="pan" type="text" placeholder="Enter Your PAN No">
                    Date Of Birth :
                    <input for="date" name="date" type="date">
                    <input for="experience" name="experience" type="text" placeholder="Enter Experience In Years">
                    Gender :
                    <select for="gender" name="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <button type="submit" class="hero-btn red-btn">Submit</button>
                </form>
            </div>
        </div>
        <div class="blog-right">
            <h3>Service Categories</h3>
            <div>
                <span>Civil Work</span>
            </div>
            <div>
                <span>Electrician</span>
            </div>
            <div>
                <span>Plumber</span>
            </div>
            <div>
                <span>Carpenter</span>
            </div>
            <div>
                <span>Painter</span>
            </div>
            <div>
                <span>Iron Work</span>
            </div>
            <div>
                <span>Glazing</span>
            </div>
            <div>
                <span>Tile Work</span>
            </div>
        </div>
    </div>
</section>
{% endblock body %}